<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link  rel="stylesheet" href="main.css"  />
    <title>About</title>
</head>
<body>
    <section id="about">
        <h1>Who was he?</h1>
        <p>
        Giuseppe Maria Garibaldi; 4 July 1807 - 2 June 1882) was an Italian general, patriot, revolutionary and republican. He contributed to Italian unification and the creation of the Kingdom of Italy. He is considered one of the greatest generals of modern times and one of Italy's "fathers of the fatherland", along with Camillo Benso, Count of Cavour, Victor Emmanuel II of Italy and Giuseppe Mazzini. Garibaldi is also known as the "Hero of the Two Worlds" because of his military enterprises in South America and Europe.
        </p>
</section>
    
</body>
</html>