<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link  rel="stylesheet" href="main.css"  />
    <title>Giuseppe Garibaldi</title>
</head>
<body>
    <section class="main-section">
        <h1>Giuseppe Garibaldi</h1>
        <h2>Hero of Two Worlds</h2>
    
    
     
    </section>

    <section id="nav">
        <a href="/About">About</a>
        <a href="/Works">Works</a>
        <a href="/PhotoGallery">Gallery</a>

    </section>

    
</body>
</html>