<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gallery</title>
    <link  rel="stylesheet" href="main.css"  />

</head>
<body>

    <section id="gallery">
        <img id="img1" src="img/Giuseppe_Garibaldi_(1866).jpg" alt="Most Known Paining of Garibaldi" />
        <img id="img2" src="img/Con_Bandiera.jpg" alt="Garibaldi with Italian Flag" />
        <img id="img3" src="img/Charles-Lucy.jpg" alt="painting of Garibaldy" />
    </section>
   

    <script src="script.js"></script>
</body>
</html>